body{
    margin: 0px;
    padding: 0px;
}

#ixhibition{

    position: absolute;
    top: calc(50% - 179px);
    left: calc(50% - 319px);
    height: 360px;
    width: 640px;

    border: 1px solid black;

    //overflow: hidden;

}

#ixb_listcontainer{


    display: flex;
    //flex-flow: column wrap; /*Horizontal*/
    flex-flow: row wrap; /*Vertical*/
    justify-content: center;
    align-items: center;


    height: 100%;
    width: 100%;

}

.ixb_wrapper{

    /* Set for Overlay*/
    position: absolute;
    top: 100%;
    left: 0px;


    flex: 0 0 100%;

    height: 100%;
    width: 100%;

}

.ixb_images{

    height: 100%;
    width: 100%;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

    background-color: lightgrey;

}



@keyframes example{

    0%      {}
    7.5%    {transform: translate(0px, -100%);}

    27.5%   {transform: translate(0px, -100%);}
    35%     {transform: translate(0px, -200%);}

    100%    {transform: translate(0px, -200%);}


}

.ixb_wrapper{
    animation: example;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 3;
}





#ixb_wrapper0 {   animation-delay: -0.5s;  }
#ixb_wrapper1 {   animation-delay: 5s;  }
#ixb_wrapper2 {   animation-delay: 10.5s;  }
#ixb_wrapper3 {   animation-delay: 16s;  }



/*
@keyframes example2{


    0%      {position: inherit; opacity: 0;}
    10%     {position: absolute; opacity: 1;}

    40%     {position: absolute; opacity: 1;}
    50%     {position: inherit; opacity: 0;}

    100%    {position: inherit; opacity: 0;}


}

.ixb_images{
    top: 0px;
    left: 0px;

    //opacity: 0;
    //animation: example2;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 3;
}


#ixb_image1{
    animation-delay: 0s;
}

#ixb_image2{
    animation-delay: 5s;
}
*/
