body{
    margin: 0px;
    padding: 0px;
}

#ixhibition{

    position: absolute;
    top: calc(50% - 179px);
    left: calc(50% - 319px);
    height: 360px;
    width: 640px;

    border: 1px solid black;
    
}
